.Header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin-top: 100px;
}

.Header_img {
  width: 100vw;
  height: 100vh;
  margin-left: -1000px;
  padding-top: 20px;
}

.grid {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: 500px 500px;
  background-color: #222e72ee;
  justify-content: center;
  align-items: center;
  column-gap: 150px;
}

.texts {
  width: 600px;
  color: white;
}
.texts h1 {
  font-size: 50px;
  font-weight: 300;
  padding-bottom: 10px;
}
.texts h3 {
  font-size: 30px;
  font-weight: 300;
  padding-bottom: 10px;
}
.texts p {
  font-size: 14px;
  font-weight: 300;
}
.header_img2 {
  width: 700px;
}
.header_butt {
  width: 120px;
  height: 40px;
  background-color: white;
  color: #222e72ee;
  border: none;
  border-radius: 20px;
  margin-top: 20px;
  cursor: pointer;
  font-size: 13px;
  transition: 0.5s;
}
.header_butt:hover {
  scale: 1.1;
  border: 1px solid white;
  background-color: transparent;
  color: white;
}

@media screen and (max-width: 1000px) {
  .grid {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #222e72ee;
    justify-content: flex-start;
    align-items: center;
    margin-top: 120px;
    overflow: scroll;
    padding-bottom: 50px;
  }
  .texts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    color: white;
    margin-left: 10px;
  }
  .texts h1 {
    padding-top: 30px;
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 10px;
  }
  .texts h3 {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 10px;
  }
  .texts p {
    font-weight: 400;
    font-size: 12px;
    font-weight: 400;
  }
  .header_img2 {
    padding-top: 30px;
    width: 90%;
    height: 300px;
    object-fit: cover;
  }
}
