.nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  height: 120px;
  width: 100vw;
  top: 0;
  z-index: 2;
}
.nav_img {
  padding-left: 70px;
}
.nav_button {
  margin-right: 40px;
  width: 120px;
  height: 40px;
  background-color: transparent;
  color: black;
  border: 1px solid #f04e55;
  border-radius: 20px;
  font-size: 13px;
  cursor: pointer;
}
.nav_button:hover {
  background-color: aliceblue;
}
