.Header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
  margin-top: 100px;
}

.Header_img {
  width: 100vw;
  height: 100vh;
  margin-left: -1000px;
  padding-top: 20px;
}

.popUp {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.631);
  transition: 1;
  z-index: 1;
}
.cancel {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}
.wrong_code {
  color: red;
  position: absolute;
  bottom: 30px;
  transition: 1s;
}
.form_container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 30%;
  background-color: white;
  border-radius: 20px;
  transition: 1;
}
.form_container h1 {
  padding-bottom: 10px;
}
.form_container form {
  padding-bottom: 10px;
}
.form_container form input {
  width: 250px;
  height: 25px;
  border: 2px solid #222e72;
  border-radius: 10px;
  padding-left: 10px;
  font-size: 12px;
}
.form_container button {
  width: 100px;
  height: 30px;
  background-color: #222e72;
  color: white;
  border: none;
  border-radius: 20px;

  cursor: pointer;
  font-size: 13px;
  transition: 0.5s;
}
.form_container button:hover {
  scale: 1.1;
  border: 1px solid #222e72;
  background-color: transparent;
  color: #222e72;
}

.grid {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: 500px 500px;
  background-color: #222e72;
  justify-content: center;
  align-items: center;
  column-gap: 150px;
}
.jobs_grid {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
}
.texts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 600px;
  color: white;
  margin-top: 30px;
}
.texts h1 {
  font-size: 40px;
  font-weight: 500;
  padding-bottom: 10px;
  margin-left: -15px;
}
.texts ul li {
  width: 400px;
  list-style: circle;
  font-size: x-large;
}
.header_img2 {
  width: 400px;
  border-radius: 100%;
}
.header_butt {
  width: auto;
  height: 40px;
  background-color: white;
  color: #222e72;
  border: none;
  border-radius: 20px;
  margin-top: 20px;
  cursor: pointer;
  font-size: 13px;
  transition: 0.5s;
}
.header_butt:hover {
  scale: 1.1;
  border: 1px solid white;
  background-color: transparent;
  color: white;
}

@media screen and (max-width: 1000px) {
  .grid {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    background-color: #222e72ee;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
  }
  .popUp {
    display: flex;
    align-items: auto;
    justify-content: auto;
    width: 100vw;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.345);
    transition: 1;
    z-index: 1;
  }
  .cancel {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
  }
  .wrong_code {
    font-size: 15px;
    color: red;
    position: absolute;
    bottom: 10px;
    transition: 1s;
    font-weight: 200;
  }
  .form_container {
    margin-top: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 50%;
    background-color: white;
    border-radius: 20px;
    transition: 1;
  }
  .form_container h1 {
    padding-bottom: 10px;
    font-size: 20px;
  }
  .form_container form {
    padding-bottom: 10px;
  }
  .form_container form input {
    width: 250px;
    height: 25px;
    border: 2px solid #222e72;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 12px;
  }
  .form_container button {
    width: 100px;
    height: 30px;
    background-color: #222e72;
    color: white;
    border: none;
    border-radius: 20px;

    cursor: pointer;
    font-size: 13px;
    transition: 0.5s;
  }
  .jobs_grid {
    display: grid;
    grid-template-columns: 300px;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    padding-bottom: 50px;
  }
  .texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    color: white;
    margin-left: 10px;
  }
  .texts h1 {
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 10px;
  }
  .texts h3 {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 10px;
  }
  .texts p {
    font-weight: 400;
    font-size: 12px;
    font-weight: 400;
  }
  .header_img2 {
    margin-top: 30px;
    width: 300px;
    border-radius: 100%;
  }
}

@media screen and (max-width: 700px) {
  .form_container {
    margin-top: 0px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 25%;
    background-color: white;
    border-radius: 20px;
    transition: 1;
  }
}
